<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="./my-list.html">
<link rel="import" href="./my-list.html-item">
<link rel="import" href="./users-dm.html">

<dom-module id="my-app">
  <template>
    <template is="dom-if" if="[[selectedUser]]">
      <h1>Seleccion</h1>
      <my-list-item
        id = [[selectedUser.id]]
        name = [[selectedUser.name]]
        email = [[selectedUser.email]]
        city = [[selectedUser.city]]
        address = [[selectedUser.address]]
        company = [[selectedUser.company]]>
      </my-list-item>
    </template>
    <my-list
      users=[[users]]
      on-user-selected="_userSelected">
    </my-list>

    <users-dm
      id="usersDM"
      on-users-loaded="_usersLoaded">
    </users-dm>


  </template>

  <script>
    /**
     * `formacion-techu-0802`
     * -
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MyApp extends Polymer.Element {
      static get is() { return 'my-app'; }
      static get properties() {
        return {
          users: {
            type: Array,
            value: []
          },
          selectedUser: {
            type: Object,
            value: null
          }
        };
      }

      ready() {
        super.ready();

        this.$.usersDM.getUsers();
      }

      _usersLoaded(evt) {
        var users = evt.detail;

        this.set('users', users);
      }

      _userSelected(evt) {
        var user = evt.detail;

        this.set('selectedUser', user);

      }
    }

    window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>
