<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="users-dm">
  <script>
    /**
     * `formacion-techu-0802`
     * -
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class UsersDM extends Polymer.Element {
      static get is() { return 'users-dm'; }
      static get properties() {
        return {

        };
      }

      getUsers() {
        // 1. realizar llamada al servidor
        fetch('https://jsonplaceholder.typicode.com/users')
          .then(response => response.json())
          .then(json => {
            // 2. tratamiento de datos: normalizar respuesta (json)
            const users = json.map((user) => {
              return {
                id: user.id,
                name: user.name + ' ' + user.username,
                email: user.email,
                city: user.address.city,
                address: user.address.street + ', ' + user.address.suite,
                company: user.company.name
              };
            });

            // 3. emitir evento con datos
            this.dispatchEvent(new CustomEvent('users-loaded', { detail: users, bubbles: true, composed: true }));
          });
      }
    }

    window.customElements.define(UsersDM.is, UsersDM);
  </script>
</dom-module>
